* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-box{
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.login-container {
  width: 350px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #444;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: #6e8efb;
}

.btn {
  width: 100%;
  background: #6e8efb;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #a777e3;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-text a {
  color: #6e8efb;
  text-decoration: none;
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}
