*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: grid;
    grid-template-columns: 70% 30%;  
    /* gap: 5px; */
}
.todo{
    background-color: black;
    color: white;
}
.emp-list{
    border: 2px solid black;
    min-height: 10rem;
}
.emp-form{
    border: 2px solid black;
    height: fit-content;
    
}
.heading{
    background-color: violet;
}
form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
form input{
    height: 2rem;
}
form span,p{
    color: red;
}
form label{
    font: bold;
    font-size: large;
    font-weight: 700;
}
.btn-last{
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 1rem;
    margin: 5px;
}
.btn-last button{
    padding: 10px;
    border-radius: 5px;
}
.save-emp{
    background-color: green;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

/* tr:nth-child(even) {
  background-color: #fafafa;
} */

tr:hover {
  background-color: #e6f7ff;
}
.finalTd{
    display: flex;
    gap: 1rem;
}
.finalTd button{
    padding: 8px;
    border-radius: 5px;
}

.update{
    background-color: yellow;
}
.delete{
    background-color: red;
}