body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px 12px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0f0ff;
}

.dlt-btn{
    background-color: red;
    padding: 5px;
}
.up-btn{
    display: flex;
    justify-content: end;
    gap: 8px;
}
.up-btn button{
    padding: 5px;
    color: white;
}

.add-new{
    background-color: blue;
}
.blk-update{
    background-color: green;
}